
.home-page{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
/* pagination */
.pagination-box .pagination-arrow:hover{
        cursor: pointer;
    }
    .pagination-box{
        margin-top: 10px;
        width: 100%;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        
    }
    .pagination-main{
        width: auto;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pagination-dot-box{
        margin-right: 10px;
        position: relative;
        width: 20px;
        height: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .pagination-dot{
        
        
        width: 4px;
        height: 4px;
        background: rgba(17, 33, 55, 1);;
        border-radius: 50%;
    }
    .pagination-dot-box:hover{
        box-sizing: border-box;
        border: 2px solid rgba(17, 33, 55, 1);
        border-radius: 50%;
    }
/* pagination  end*/

/* hover-border */
.container .hover-border{
    margin-top: 3px;
    width: 32px;
    height: 2px;

    background: #041e42;
}
/* Header frame */
.header-frame{
   position: relative;
   margin-top: 47px;
   width: 100%; 
   height: auto;

   display: flex;
   justify-content: center;
}
.header-frame .container{
    flex-direction: row;
}   

.header-frame .container .header-left{
    padding: 15px;
    width: 875px;
    height: 508px;
    position: relative;
    background-image: url(./images/home\ page\ container.png);
    border-radius: 5px;
}
.header-frame .header-left .header-content{
    margin-top: 90px;

    display: flex;
    flex-direction: column;
}
.header-frame .header-content div{
    width: 104px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5c34b;
    border-radius: 6px;
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.header-frame .header-content span{
    margin-top: 10px;
    width: 4px;
    color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 60px;
    font-weight: 500;
    line-height: 87px;
    letter-spacing: 0%;
    text-align: left;
}
.header-frame .header-content p{
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.header-frame .header-content a{
    margin-top: 20px;
    width: 140px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    border-radius: 6px;

    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.header-frame .header-content img{
    position: absolute;
    right: 10px;
}
.header-frame .container .header-right{
    margin-left: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-frame .header-right .header-box{
    width: 422px;
    height: 240px;

    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    border-radius: 5px;
}
.header-frame .header-right .box-left{
    margin-left: 30px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-frame .box-left span{
    color: rgba(0, 83, 246, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.header-frame .box-left p{
    margin: 10px 0px;
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;

}
.header-frame .box-left a{
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  
}
.header-frame .box-left .hover-border{
    margin-top: 3px;
    width: 32px;
    height: 2px;

    background: #041e42;
}
.header-frame .header-box .box-right{
    width: 50%;

}
.header-frame .box-right img{
    width: 100%;
    height: 100%;
}
.home-page .service-frame{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}
.service-frame .container{
    flex-direction: row;
}
.container .service-box{
    width: 25%;
    height: 86px;

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eaeaea ;
}
.service-box img{
    width: 35px;
    height: 35px;
}
.service-box .service-content{
    margin-left: 14px;

    display: flex;
    flex-direction: column;
}
.service-content span{
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    }
    .service-content p{
    color: rgba(98, 105, 116, 1);
    font-family: var(--font);
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    }
    /* Shop category */
    .shop-category-frame{
        position: relative;
        margin-top: 50px;
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
    }
    .shop-category-frame .container{
        flex-direction: column;
    }
    .shop-category-frame .container .category-top{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .shop-category-frame .category-top span{
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    
    }
    .shop-category-frame .category-top a{
        color: rgba(4, 30, 66, 1);
        font-family: var(--font);
        font-style: Medium;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;

    }
    .shop-category-frame .category-top a:hover{
        border-bottom: 2px solid rgba(4, 30, 66, 1);
    } 
    .shop-category-frame .container .category-wrapper{
        margin-top: 30px;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .shop-category-frame .category-wrapper .category-box{
        width: 142px;
        height: auto;

        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .shop-category-frame .category-box .category-img-box{
        width: 100%;
        height: 150px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid #eaeaea;
        border-radius: 150px;
        background: rgba(255, 255, 255, 1);
    }
    .shop-category-frame .category-box span{
        margin-top: 15px;

        color: rgba(4, 30, 66, 1);
        font-family: var(--font);
        font-style: Medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
    }
    

    /* TOP SELLING PRODUCTS */
.selling-products-frame{
    margin-top: 62px;
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}
.selling-products-frame .container{
    position: relative;
   
    display: flex;
    flex-direction: column;


}
 .selling-products-frame .container .category-top{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .selling-products-frame .category-top span{
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    
    }
    .selling-products-frame .category-top a{
        color: rgba(4, 30, 66, 1);
        font-family: var(--font);
        font-style: Medium;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;

    }
    .selling-products-frame .category-top a:hover{
        border-bottom: 2px solid rgba(4, 30, 66, 1);
    } 
    .selling-products-wrapper{
        margin-top: 56px;
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .selling-products-box{
        position: relative;
        width: 251px;
        height: auto;

        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    
    .selling-products-box .box-image img{
        
        background-size: cover;
    }
    .selling-products-box .box-image{
        position: relative;
        width: auto;
        height: auto;
    }
    .selling-products-box .box-image .hover-box{
        position: absolute;
        bottom: -100px;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .selling-products-box .box-image:hover .hover-box{
        display: flex;
    }

   
    .selling-products-box .hover-box button{
        
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        border-radius: 6px;
        box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
        background: rgba(0, 83, 246, 1);

        color: rgba(255, 255, 255, 1);

        font-family: var(--font);
        font-style: Medium;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;


    }
    .selling-products-box .box-details{
        margin: 25px;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;

    }
    .selling-products-box .box-details .brand-name{
    color: rgba(98, 105, 116, 1);
    font-family: var(--font);
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    }
    .selling-products-box .box-details .product-desc{
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    }
    .selling-products-box .review-box span{
        margin-left: 10px;
    color: rgba(98, 105, 116, 1);
    font-family: var(--font);
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    }
    .selling-products-box .price-box strong{
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    }
    .selling-products-box .price-box span{
        margin-left: 6px;
    color: rgba(98, 105, 116, 1);
    font-family: var(--font);
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
    }
    .pagination-box .pagination-arrow:hover{
        cursor: pointer;
    }
    .pagination-box{
        margin-top: 10px;
        width: 100%;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .pagination-main{
        width: auto;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pagination-dot-box{
        margin-right: 10px;
        position: relative;
        width: 20px;
        height: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .pagination-dot{
        
        
        width: 4px;
        height: 4px;
        background: rgba(17, 33, 55, 1);;
        border-radius: 50%;
    }
    .pagination-dot-box:hover{
        box-sizing: border-box;
        border: 2px solid rgba(17, 33, 55, 1);
        border-radius: 50%;
    }
 /* TOP SELLING PRODUCTS  END!*/

 .members-ad-frame{
    
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 6px;
    background: rgba(229, 237, 255, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(0, 83, 246, 1);

    font-family: var(--font);
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
 }

 /* SPECIAL ITEMS FRAME */

.spec-product-frame{
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.spec-product-frame .container{
    flex-direction: column;
}
.spec-product-frame .container .spec-product-wrapper{
    position: relative;
    margin-top: 35px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}
.spec-product-frame  .spec-product-wrapper .big-product-box{
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    width: 664px;
    height: 368px;

    display: flex;
    flex-direction: row;

    border-radius: 6px;
background: rgba(243, 245, 246, 1);
}
.spec-product-frame .container .category-top{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .spec-product-frame .big-product-box .big-product-content{
        width: 160px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .spec-product-frame .big-product-box.big-product-content span{
        color: rgba(4, 30, 66, 1);

font-family: var(--font);
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
    }
    .spec-product-frame .big-product-content p{
        margin: 7px 0px;
    color: rgba(4, 30, 66, 1);
font-family: var(--font);
font-style: Medium;
font-size: 26px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
    }
.spec-product-frame .big-product-content a{
width: 70px;
height: 27px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 3px;
}
.spec-product-frame .big-product-box img{
    position: absolute;
    width: 322px;
    height: 309px;

    right: 5%;
}
.spec-product-frame .spec-product-wrapper .small-product-wrapper{
    margin-left: 30px;
    width: 620px;
    height: 368px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.spec-product-frame .small-product-wrapper .small-product-box{
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    width: 293px;
    height: 170px;
     display: flex;
     flex-direction: row;

     border-radius: 6px;
     background: #f3f5f6;
}
.spec-product-frame .small-product-wrapper .small-product-box:nth-child(odd){
    margin-right: 30px;
}

.spec-product-frame .small-product-box .small-product-content{
    display: flex;
    flex-direction: column;
}
.spec-product-frame .small-product-box .small-product-content strong{
color: rgba(4, 30, 66, 1);

font-family: var(--font);
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.spec-product-frame .small-product-box .small-product-content span{
color: rgba(98, 105, 116, 1);

font-family: var(--font);
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.spec-product-frame .small-product-box img{
    position: absolute;
    right: 30px;
    top: 40px;
}

/* TV-FRAME */
 .tv-frame{
    margin-top: 90px;
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
 }
 .tv-frame .container{
    flex-direction: column;
 }
 .tv-frame .tv-top-links{
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    
    
 }
 .tv-frame .tv-top-links .tv-link-box{
    position: relative;
    width: 523px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .tv-frame .tv-top-links span{
    margin-right: 521px;
    color: rgba(4, 30, 66, 1);

font-family: var(--font);
font-style: Medium;
font-size: 28px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
 }
 .tv-frame .tv-link-box a{

    font-family: var(--font);
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: right;
 }
 .tv-frame .hover-border{
    position: absolute;

    display: flex;
    margin-top: 24px;
    width: 32px;
    height: 2px;

    background: #041e42;
}
 .tv-frame .tv-link-box a:hover .hover-border{
    display: flex;
 }
 .tv-frame .tv-wrapper{
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
   
    align-items: center;
 }
 
 .tv-frame .box-tv-box{
    position: relative;
    margin-right: 27px;
 }
 .tv-frame .tv-wrapper .next-button-box{
    margin-right: 27px;
 }

 .tv-frame .tv-details .tv-name{
    color: rgba(98, 105, 116, 1);

font-family: var(--font);
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
 }
 .tv-frame .tv-details .tv-product-desc{
    width: 222px;
    height:50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

color: rgba(4, 30, 66, 1);
font-family: var(--font);
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
 }
 .tv-frame .tv-details .span{
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

font-family: var(--font);
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
 }
 .tv-frame .tv-price-box strong{
    margin-right: 10px;
    color: rgba(4, 30, 66, 1);

font-family: var(--font);
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
 }
 .tv-frame .tv-review-box span{
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

font-family: var(--font);
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
 }
 .tv-frame .tv-price-box span{
    color: rgba(98, 105, 116, 1);

font-family: var(--font);
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: line-through;
 }
 /* EVENTS FRAME */
.events-frame{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    
    
    
}
.events-frame .container{
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.events-frame .events-wrapper{
    position: relative;
    width: 1277px;
    height: 392px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.events-frame .event-details-box{
    margin-left: 150px;
    position: relative;
    width: 334px;
    height: 214px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.events-frame .box-time-box{
   
    position: relative;
    width: 333px;
    height: 62px;
    display: flex;
    justify-content: space-between;

}
.events-frame .date-time-box strong{
    color: rgba(255, 255, 255, 1);

font-family: var(--font);
font-style: Medium;
font-size: 28px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}
.events-frame .date-time-box p{
    color: rgba(255, 255, 255, 1);

font-family: var(--font);
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.events-frame .event-details-box span{
    color: rgba(255, 255, 255, 1);

font-family: var(--font);
font-style: Medium;
font-size: 28px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}
.events-frame .event-details-box a{
    position: relative;
    width: 142px;
    height: 52px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(4, 30, 66, 1);

font-family: var(--font);
font-style: Medium;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: center;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 6px;
background: rgba(255, 255, 255, 1);
}
.events-frame .box-events-box{
    
    margin-left: 9px;
position: relative;
width: auto;
height: auto;

display: flex;
flex-direction: column;
border-radius: 6px;
background: rgba(255, 255, 255, 1);
}
.events-frame .box-event-details{
    padding: 0px 17px 10px 17px;
    position: relative;
    box-sizing: border-box;
}
.events-frame .box-event-image-box{
    position: relative;
    width: auto;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events-frame .event-brand-name{
    color: rgba(98, 105, 116, 1);

font-family: var(--font);
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.events-frame .event-product-desc{
    color: rgba(4, 30, 66, 1);

font-family: var(--font);
font-style: Medium;
font-size: 15px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;

display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.events-frame .event-review-box span{
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

font-family: var(--font);
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.events-frame .event-price-box{
    position: relative;
    width: 88px;
    height: auto;

}
.events-frame .event-price-box strong{
color: rgba(4, 30, 66, 1);

font-family: var(--font);
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.events-frame .event-price-box span{
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

font-family: var(--font);
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: line-through;
}
.events-frame .next-button-box-oppsite{
    margin-left: 8px;
    position: relative;
    
}






    


